body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
     background: url('./pictures/3.jpg') center no-repeat;
    background-size: cover;
    }

h1,h3,h4{
    margin: 0;
}

.account {
    min-height: 100vh;
   
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.table * {
    box-sizing: border-box;
}

.table {
    padding: 1em;
    margin: 2em;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 19em;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
.first-table {
    box-shadow: 0 8px 32px 0 rgba(250, 250, 99, 0.412);
}
.second-table {
    background: rgba(152, 250, 141, 0.117);
    box-shadow: 0 8px 32px 0 rgba(121, 249, 114, 0.412);
}

.third-table {
    background: rgba(255, 175, 175, 0.25);
    box-shadow: 0 8px 32px 0 rgba(249, 114, 114, 0.412);
}
.table h1 {
    font-size: 5em;
    margin: 0.2em 0 0 0;

}
.table h1 sup {
    font-size: 0.5em;
    font-weight: 400;
    margin-right: 0.2em;
}

.table ul{
    margin: 1em 0 0 0;
    padding: 0;
    list-style: none;
}

.table ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.table ul li:not(:last-child) {
    border-bottom: 1px #ccc solid;
}

.table li > div:nth-child(1) {
    text-align: left;
}

.table a {
    display: inline-block;
    margin: 1em 0;
    color: #fff;
    text-decoration: none;
}
.table a:hover {
    color: #ccc;
}

.table button {
    margin: 1em auto 0.5em auto;
    border: none;
    border-radius: 2em;
    padding: 0.5em 1.5em;
    background: #fff;
    color: #1f1f1f;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}