body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(228, 227, 227);
}



/* SIGNUP / SIGN IN */
body.register-body{
    background-color: rgb(225, 74, 74);
}
#register-video,
#spin-video{
   width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}



.signup-box,
.my-info-box{
    height: 620px;
}
.signup-box,
.login-box,
.my-info-box{
    width: 360px;
    margin: auto;
    margin-top: 10rem;
    background-color: white;
    border-radius: 15px;
    animation: fadeDown 1700ms ease-in-out forwards;
    box-shadow: 0 38px 32px 0 rgba(0, 0, 0, 0.3);
}
.my-info-box {
    height: auto;
}

.home-address-offer {
    position: absolute;
    background-color: rgba(221, 237, 239, 0.99);
    width: 87%;
    border: 1px solid #49c1a2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 38px 32px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    text-align:left;
}

.address-option:hover {
    scale: 1.1;
    width: 90%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 1.2rem;
    box-shadow: 0 38px 32px 0 rgba(29, 68, 126, 0.3);
    
}

.home-address-offer h3{
    font-size: 1rem;
    margin-top: 1.2rem;
    text-align: center;
}
.home-address-offer p {
    margin-top: 0rem;
    font-size: 0.8rem;
    color: grey;
}

.login-box {
    height: 300px;
    margin-top: 5rem;
}

.logo-name {
    text-align: center;
    margin-top: 10%;
}

#login-logo {
    width: 7rem;
}

.signup-box h1,
.login-box h1,
.my-info-box h1 {
    text-align: center;
    padding-top: 15px;
}
.signup-box h4,
.my-info-box h4{
    text-align: center;
}

form.register-form,
form.signin-form,
form.my-info-box {
    width: 300px;
    margin-left: 20px;
}
form.register-form label,
form.signin-form label,
form.my-info-box label {
    display: flex;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 18px;
}
form.register-form input,
form.signin-form input,
form.my-info-box input {
    background-color: #e5ede03c;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
}
form.register-form input[type="button"],
form.signin-form input[type="button"],
form.my-info-box input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}

form.register-form input[type="button"]:hover,
form.signin-form input[type="button"]:hover,
form.my-info-box input[type="button"]:hover {
    background-color: #9cecd8;
    border: 2px solid #49c1a2;
}

.invalid {
    box-shadow: 0 0 5px rgb(230, 3, 3);
}


input:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(85, 175, 223);
}


.signup-box p,
.my-info-box p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.login-2,
.dont-have-acc {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    animation: fadeDown 1700ms ease-in-out forwards;
}
.login-2 a,
.dont-have-acc a {
    color: #dfdfdf
}

     /* MY PROFILE */
.my-info-box {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 10px 10px 32px 10px rgba(129, 129, 129, 0.635);
    padding-bottom: 1rem;
}

.my-info-box:hover {
    box-shadow: 10px 10px 32px 10px rgba(255, 255, 255, 0.635);
}

/* SPIN FOR MONEY */

.container-money {
    text-align: center;
    width: 450px;
    margin: auto;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.215);
    backdrop-filter: blur(10px);
}

.button-finish {
    position: absolute;
    top: 50%;
    left: 5%;
    text-align: center;
    color: grey;
    font-size: 1.1rem;
    animation: fadeRight 4700ms ease-in-out forwards;
}

button#continue {
    padding: 1rem;
    border: none;
    border-radius: 35px;
    background-color: rgb(93, 191, 227);
    color: white;
    font-size: 1.3rem;
    font-weight: 800;
    box-shadow: 10px 10px 32px 0px rgba(1, 27, 142, 0.737);
}
button#continue:hover {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: black;
}

.animate {
  font-size: 2rem;
  margin: 1rem 2rem 0.6rem 2rem;
  border-bottom: 2px solid #ccc;
}

.animate span {
  display: inline-block;
}

.animate span:nth-of-type(2) {
  animation-delay: .05s;
}
.animate span:nth-of-type(3) {
  animation-delay: .1s;
}
.animate span:nth-of-type(4) {
  animation-delay: .15s;
}
.animate span:nth-of-type(5) {
  animation-delay: .2s;
}
.animate span:nth-of-type(6) {
  animation-delay: .25s;
}
.animate span:nth-of-type(7) {
  animation-delay: .3s;
}
.animate span:nth-of-type(8) {
  animation-delay: .35s;
}
.animate span:nth-of-type(9) {
  animation-delay: .4s;
}
.animate span:nth-of-type(10) {
  animation-delay: .45s;
}
.animate span:nth-of-type(11) {
  animation-delay: .5s;
}
.animate span:nth-of-type(12) {
  animation-delay: .55s;
}
.animate span:nth-of-type(13) {
  animation-delay: .6s;
}
.animate span:nth-of-type(14) {
  animation-delay: .65s;
}
.animate span:nth-of-type(15) {
  animation-delay: .7s;
}





.instructions span {
  color: #24a8e6;
  opacity: 0;
  transform: translate(-150px, -50px) rotate(-180deg) scale(3);
  animation: revolveScale 1s forwards;
}

@keyframes revolveScale {
  60% {
    transform: translate(20px, 20px) rotate(30deg) scale(.3);
  }

  100% {
    transform: translate(0) rotate(0) scale(1);
    opacity: 1;
  }
}

.container-money h1{
    color: rgba(134, 134, 134, 0.577);
    font-size: 1.8rem;
    padding: 3rem 2rem 4rem 2rem;
}
.money-add {
    font-size: 2rem;
}
.random {
    margin-bottom: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.2rem;
}
.random:hover {
    cursor: pointer;
}
.random-checking{
    background-color: rgba(162, 162, 7, 0.597);
    box-shadow: 10px 10px 32px 10px rgba(143, 143, 45, 0.412);
}
.random-checking:hover {
    background-color: rgba(215, 215, 0, 0.597);
    box-shadow: 10px 10px 32px 10px rgba(61, 61, 7, 0.412);
}
.random-savings{
    background-color: rgba(12, 129, 6, 0.618);
    box-shadow: 10px 10px 32px 10px rgba(121, 249, 114, 0.412);
}
.random-savings:hover {
    background-color: rgba(14, 224, 3, 0.618);
    box-shadow: 10px 10px 32px 10px rgba(87, 232, 79, 0.761);
}
.random-credit {
    background-color: rgba(174, 35, 35, 0.756);
    box-shadow: 10px 10px 32px 10px rgba(249, 114, 114, 0.412);
}
.random-credit:hover{
    background-color: rgba(219, 36, 36, 0.756);
    box-shadow: 10px 10px 32px 10px rgba(249, 114, 114, 0.706);
}

.bank-wrapper {
    background: url('./media/1.jpg') center no-repeat;
    background-size: cover;
    background-color: #ac795a;
    box-shadow: 0 8px 32px 0 rgba(250, 0, 0, 0.3);
}

header {
    background-color: #bbc6fb31;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    animation: fadeRight 1700ms ease-in-out forwards;
}

#logo-coin{
    width: 5rem;
    animation: fadeDown 2700ms ease-in-out forwards;
}
header p {
    margin-left: 1.5rem;
    font-size: 2rem;
    font-weight: 800;
    color: white;
}
.nav-bar{
    margin-right: 3rem;
    background-color: rgba(0, 0, 0, 0.142);
    box-shadow: 0 12px 32px 0 rgba(251, 206, 166, 0.804);
    border-radius: 20px;
    animation: fadeLeft 1700ms ease-in-out forwards;
}
.nav-bar ul {
    display: flex;
    list-style: none;
}
.nav-bar ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
    animation: fadeLeft 2700ms ease-in-out forwards;
    
}
.nav-bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
}
.nav-bar ul li a:hover {
    color: #f7d2b8;
    scale: 1.2;
}

.hi {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 20vh;
}

.hi h2 {
    font-size: 3rem;
    color: rgb(16, 63, 14);
    backdrop-filter: blur(10px);
    text-align: center;
    border-radius: 40px;
    width: 30%;
    box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.3);
    animation: fadeDown 1700ms ease-in-out forwards;
}

.hi h2:hover {
    color: #ffffff;
    box-shadow: 0 20px 32px 0 rgba(255, 255, 255, 0.3);
}

h1,h3,h4{
    margin: 0;
}

.account {
    min-height: 70vh;
    width: 70%;
    margin-left: 15%;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.table * {
    box-sizing: border-box;
}

.table {
    padding: 1em;
    margin: 2em;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 19em;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
.first-table {
    box-shadow: 10px 10px 32px 10px rgba(250, 250, 99, 0.412);
}
.second-table {
    background: rgba(152, 250, 141, 0.117);
    box-shadow: 10px 10px 32px 10px rgba(121, 249, 114, 0.412);
}

.third-table {
    background: rgba(255, 175, 175, 0.25);
    box-shadow: 10px 10px 32px 10px rgba(249, 114, 114, 0.412);
}
.table h1 {
    font-size: 3.8em;
    margin: 0.2em 0 0 0;

}
.table h1 sup {
    font-size: 0.5em;
    font-weight: 400;
    margin-right: 0.2em;
}

.table ul{
    margin: 1em 0 0 0;
    padding: 0;
    list-style: none;
}

.table ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.table ul li:not(:last-child) {
    border-bottom: 1px #ccc solid;
}

.table li > div:nth-child(1) {
    text-align: left;
}

.table a {
    display: inline-block;
    margin: 1em 0;
    color: #fff;
    text-decoration: none;
}
.table a:hover {
    color: #ccc;
}

.table button {
    margin: 1em auto 0.5em auto;
    border: none;
    border-radius: 2em;
    padding: 0.5em 1.5em;
    background: #fff;
    color: #1f1f1f;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}





/* PAY AND TRANSFER */
body.pay-transfer-body{
    background-color: #fcfed4;
}
#transaction-video{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-pay-transfer{
    box-shadow: 0 12px 32px 0 rgba(158, 238, 127, 0.804);
}

.logo-pay-transfer{
    color: rgba(0, 0, 0, 0.491);
}

h1.pay-transfer{
    position: absolute;
    left: 5%;
    margin-top: 1%;
    color: rgb(1, 112, 15);
    font-size: 2.5rem;
    animation: fadeDown 1700ms ease-in-out forwards;
    font-family: "Poiret One", serif;
    font-weight: 800;
    box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.804);
    border-radius: 30px;
    padding: 1rem
}


.option-blocks {
    animation: fadeUp 1700ms ease-in-out forwards;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10rem auto 0 auto;
    padding: 10rem;
    background-color: rgba(189, 189, 189, 0.335);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 30px 42px 52px 30px rgba(0, 0, 0, 0.804);
}

.option-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    padding: 3rem 1rem 2rem 1rem;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 22px 32px 10px rgba(0, 0, 0, 0.522);
}

.option-block:hover {
    scale: 1.1;
    transition: 0.2s;
    color: rgb(28, 255, 115);
    cursor: pointer;
}

#transfer {
    animation: fadeRight 2000ms ease-in-out forwards;
}
#send-recieve {
    animation: fadeDown 2000ms ease-in-out forwards;
}
#pay-bills {
    animation: fadeUp 2000ms ease-in-out forwards;
}
#wire {
    animation: fadeLeft 2000ms ease-in-out forwards;
}


.option-block h3 {
    font-size: 1.6em;
}
.option-block p {
    font-size: 1.1rem;
    color: rgb(104, 104, 104);
}

.pay-transfer-icons {
    width: 35%;
}

.transfer-choice {
    background-color: rgba(252, 252, 252, 0.805);
    backdrop-filter: blur(10px);
    padding: 4rem 2rem;
    width: 70%;
    font-size: 1.3rem;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem auto 1rem auto;
    animation: fadeUp 1700ms ease-in-out forwards;
}
.transfer-choice h1 {
    margin-bottom: 3rem;
}
form.choose-account-form {
    margin-bottom: 2rem;
}
input#input-account{
    padding: 1rem;
    font-size: 1rem;
    color: blue;
    border-radius: 15px;
    background-color: rgba(252, 242, 175, 0.525);
    border: 1px solid white;
    margin-left: 1rem;
}
input.input-submit {
    margin: 1rem 0 0 1rem;
    font-weight: 800;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 30px;
    background-color: rgba(0, 255, 195, 0.257);
}
input.input-submit:hover {
    background-color: rgba(0, 0, 255, 0);
    border: 1px solid black;
}

.choice-transfer{
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.378);
    padding: 1rem;
    border-radius: 40px;
}
.transfer-to{
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.input-amount{
    margin-left: 5rem;
    margin-top: 5rem;
}
input.input-number{
    font-size: 1.3rem;
}

.send-recieve-div{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.359);
    width: auto;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 15px 30px 0px rgb(106, 188, 161);
    
}

.send-or-recieve {
    margin-bottom: 0rem;
}

.exit-ZeX {
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(255, 253, 253, 0);
    color: rgb(140, 140, 140);
    border: none;
    font-weight: 800;
}
.zex-1{
    color: rgb(204, 177, 123);
}
.exit-ZeX:hover {
    color: rgb(251, 80, 80);
}


/* convert crypto */
.convert-crypto {
    margin-top: 15rem;
    background-color: #24a9e6cc;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 15px 30px 0px rgb(106, 188, 161);
}
.choose-account-for-crypto{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    text-align: center;
}

.exit-crypto{
    margin-top: 20rem;
    color: white;
}
.crypto-input-account {
    margin-top: 1rem;
}
input#input-account.crypto-input-account:hover {
    background: rgb(174, 246, 241);
}

.top-crypto {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.top-crypto h2 {
    font-size: 2rem;
}
.top-crypto input {
    padding: 0.5rem;
    color: rgb(190, 11, 181);
    margin-top: 0.5rem;
    border: none;
    border-radius: 5px;
}
.crypto-list {
    text-align: center;
}



         /* ABOUT */

.about-body {
    background-color: #fff;
}

.about-img {
    background: url("./media/telephone-4440525_1280.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: auto;
}

.about-header{
    box-shadow: 0 12px 32px 0 rgba(127, 238, 232, 0.804);
}
.about-us {
    background-color: #555555aa;
    padding: 2rem;
    width: 70%;
    height: 60%;
    overflow: auto;
    font-size: 1.3rem;
    border-radius: 40px;
    box-shadow: 0 12px 32px 0 rgba(127, 238, 232, 0.403);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem auto;
    color: white;
}

.about-text {
    width: 90%;
    margin-top: 3rem;
}

footer.about-footer{
    position: relative;
    width: 100%;
}

       /* FOOTER */
footer.footer-home-page{
    background-color: rgb(235, 173, 135);
    box-shadow: inset 0px 15px 20px 10px rgb(196, 132, 92);
    backdrop-filter: blur(10px);
    position: relative;
}


footer.footer-pay-transfer {
    width: 100%;
    bottom: -30%;
    background-color: aquamarine;
    box-shadow: inset 0px 25px 10px 10px rgb(79, 168, 138);
}
footer {
    position: absolute;
    bottom: -20%;
    width: 100%;
    background-color: #eeeeee4a;
    box-shadow: 0px 15px 30px 0px rgb(106, 188, 161);
}

.h-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
}

ul.footer-ul {
    list-style: none;
}
ul.footer-ul li {
    color: grey;
}
ul.footer-ul li:hover {
    color: rgb(57, 59, 57);
}
ul li.h-li {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: .6rem;
    color: black;
}
ul li.li-home {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: .6rem;
}


ul.footer-ul-4 {
    display: flex;
    justify-content: space-between;
    align-items: center
}

ul li.h-li {
    margin-right: 1rem;
}
ul li img:hover {
    scale: 1.3;
}

/* KEYFRAMES */

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(120px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}
@keyframes fadeDown {
     0% {
        opacity: 0;
        transform: translateY(-250px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes fadeUp {
     0% {
        opacity: 0;
        transform: translateY(150px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-120px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}


.hidden {
    display: none;
}

@media screen and (max-width: 900px){

    .h-footer {
        width: 60%;
        margin-left: 1rem;
        margin-top: 5rem;
    }
    ul.footer-ul li {
    font-size: 0.9rem;
    }


    .option-blocks {
        transition: 0.3s;
        width: 80%;
        padding: 4rem 4rem 4rem 4rem;
        left: 3%;
        margin-top: 20%;
    }
    .option-block {
        width: 120%;

    }
    #send-recieve,
    #pay-bills,
    #wire {
        margin-left: 10%;
        width: 150%;
    }
    .option-block h3 {
        font-size: 1rem;
    }
    .option-block p {
    font-size: 0.8rem;
    }
    .pay-transfer-icons {
    width: 50%;
    }

    .input-amount {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .exit-ZeX{
        font-size: 1.5rem;
        margin-top: -3rem;
    }
    footer.footer-pay-transfer{
        bottom: auto;
    }
    .convert-crypto{
        margin: 10rem 0 5rem 0;
    }
}

@media screen and (max-width: 767px) {
    .nav-bar ul li {
        margin-right: 2rem;
    }
    .nav-bar ul li a{
       text-align: center;
       font-size: 1rem;
    }
    .hi{
        justify-content: center;
    }
    .hi h2 {
        font-size: 2rem;
    }

    .h-footer {
        width: 55%;
        display: flex;
        flex-direction: column;
        margin-left: 5rem;
    }
    ul.footer-ul li {
    font-size: 0.9rem;
    }
    ul.footer-ul-4 {
        position: absolute;
        margin-left: 40%;
        top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        margin-top: 0%;
    }



    /* pay and transfer section */
    h1.pay-transfer{
        font-size: 1rem;
        margin-top: 5%;
        left: 40%;
    }
    .option-blocks{
        justify-content: center;
        flex-direction: column;
        transition: 0.3s;
    }
    div#transfer,
    div#send-recieve,
    div#pay-bills,
    div#wire {
        width: 20%;
        padding: 2rem 2rem 1rem 2rem;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0 0 1rem 0;
        transition: 0.3s;
    }

    .transfer-choice {
        padding: 4rem;
        margin-top: 12rem;
        padding-bottom: auto;
    }

    .footer-pay-transfer{
        margin-bottom: -100%;
    }
    .button-finish{
        left: 25%;
        margin-top: 85%;
    }
    #continue{
        margin-bottom: 7rem;
        transition: 0.3s;
    }

    footer.footer-pay-transfer{
        bottom: auto;
    }

    .convert-crypto{
        /* position: absolute;
        z-index: 2;
        top: 5%;
        width: 90%;
        left: 5%; */
        flex-direction: column;
    }
    .top-crypto{
        text-align: center;
    }

}