body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url('./pictures/1.jpg') center no-repeat;
    background-size: cover;
}


header {
    background-color: #bbc6fb31;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}
header p {
    margin-left: 1.5rem;
    font-size: 2rem;
    font-weight: 800;
    color: white;
}
.nav-bar{
    margin-right: 3rem;
    background-color: rgba(0, 0, 0, 0.142);
    box-shadow: 0 12px 32px 0 rgba(251, 206, 166, 0.804);
    border-radius: 20px;
    animation: fadeLeft 1700ms ease-in-out forwards;
}
.nav-bar ul {
    display: flex;
    list-style: none;
}
.nav-bar ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
    animation: fadeLeft 2700ms ease-in-out forwards;
    
}
.nav-bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
}
.nav-bar ul li a:hover {
    color: #f7d2b8;
    scale: 1.2;
}

.hi {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.hi h2 {
    font-size: 3rem;
    color: rgb(16, 63, 14);
    backdrop-filter: blur(10px);
    text-align: center;
    border-radius: 40px;
    width: 30%;
    box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.3);
    animation: fadeDown 2700ms ease-in-out forwards;
}

.hi h2:hover {
    color: #ffffff;
    box-shadow: 0 20px 32px 0 rgba(255, 255, 255, 0.3);
}

h1,h3,h4{
    margin: 0;
}

.account {
    min-height: 70vh;
    width: 70%;
    margin-left: 15%;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.table * {
    box-sizing: border-box;
}

.table {
    padding: 1em;
    margin: 2em;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 19em;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
.first-table {
    box-shadow: 10px 10px 32px 10px rgba(250, 250, 99, 0.412);
}
.second-table {
    background: rgba(152, 250, 141, 0.117);
    box-shadow: 10px 10px 32px 10px rgba(121, 249, 114, 0.412);
}

.third-table {
    background: rgba(255, 175, 175, 0.25);
    box-shadow: 10px 10px 32px 10px rgba(249, 114, 114, 0.412);
}
.table h1 {
    font-size: 5em;
    margin: 0.2em 0 0 0;

}
.table h1 sup {
    font-size: 0.5em;
    font-weight: 400;
    margin-right: 0.2em;
}

.table ul{
    margin: 1em 0 0 0;
    padding: 0;
    list-style: none;
}

.table ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.table ul li:not(:last-child) {
    border-bottom: 1px #ccc solid;
}

.table li > div:nth-child(1) {
    text-align: left;
}

.table a {
    display: inline-block;
    margin: 1em 0;
    color: #fff;
    text-decoration: none;
}
.table a:hover {
    color: #ccc;
}

.table button {
    margin: 1em auto 0.5em auto;
    border: none;
    border-radius: 2em;
    padding: 0.5em 1.5em;
    background: #fff;
    color: #1f1f1f;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}




@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(120px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeDown {
     0% {
        opacity: 0;
        transform: translateY(-150px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}





@media screen and (max-width: 767px) {
    .nav-bar ul li {
        margin-right: 2rem;
    }
    .nav-bar ul li a{
       text-align: center;
       font-size: 1rem;
    }
    .hi h2 {
        font-size: 2rem;
    }

}